[Unit]
Description=Datakoro
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/srv/datakoro
Group=docker
ExecStart=/usr/bin/docker compose --env-file /srv/.env.prod up
ExecStop=/usr/bin/docker compose stop

[Install]
WantedBy=multi-user.target
