[Unit]
Description=Datakoro
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/srv/datakoro
ExecStart=/usr/bin/docker compose --env-file /srv/.env.prod up -d
ExecStop=/usr/bin/docker compose down
RemainAfterExit=true
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
